.contactame{
    min-height: 100vh;
}
.contactame h1{
    font-size: 50px;
    /* Ajusta el tamaño según tus necesidades */
    color: #000000;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #3104fc, 0 0 70px #3104fc, 0 0 80px #3104fc, 0 0 100px #3104fc, 0 0 150px #3104fc;
    /* Estilo de luces de neón */
    font-family: 'Oswald', sans-serif;
}

.contactame .flechaArriba{
    background-color: #007bff;
    color: white;
    font-size: 40px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    /* Posicionar el botón absolutamente */
    top: 2.5em;
    /* Ajustar la posición vertical */
    left: 95%;
    /* Ajustar la posición horizontal */
    transform: translateX(-50%);
    /* Centrar horizontalmente */
    transition: transform 0.10s ease;
}

.contactame .flechaArriba:hover{
    color: rgb(0, 0, 0);
}
.contactame p{
    font-size: 20px;
    color: #ffffff;
    line-height: 1.3;
}

.logoContacto{
    width: 50px;
    height: 50px;
}

.redesSociales p{
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
}

.contactame a{
    text-decoration: none;
}

.redesSociales{
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 250px;
    background-color: rgb(6, 105, 185);
}

.redesSociales ul {
    
    list-style-type: none;
    display: flex; /* Convertir la lista en un contenedor flex */
    justify-content: center;
    gap: 20px; /* Ajustar el espacio entre los elementos li */
  }
  
  .redesSociales li {
    display: flex; /* Permitir alinear verticalmente el contenido dentro de los elementos li */
    align-items: center; /* Centrar verticalmente el contenido dentro de los elementos li */
  }

  .redesSociales a,li{
    color: #fff;
  }

  .redesSociales img{
    color: #fff;
    margin-right: 5px;
  }
