.Headers-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #333;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  height: 70px;
}

.Headers-container .item1 img{
  background-color: transparent;
  width: 60px;
  height: 40px;
}

.Headers-container .item1{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.Headers-container .item2{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.Headers-container .item2 li,a{
  list-style-type: none;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}
.Headers-container a:hover{
  text-decoration: none;
  color: #3104fc;
}

@media (max-width: 599px) {
  /* Estilos específicos para pantallas pequeñas */
  .Headers-container .item1{
      display:none;
  }
  .Headers-container{
      display: grid;
      grid-template-columns: auto;
      height: 40px;
  }
  .Headers-container .item2{
      display: flex;
      justify-content:center;
      align-items: center;
  }
}