.Portada-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: 150px auto;
}

.item2 p{
    background-color: #007bff;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border-radius: 50%;
    margin-bottom: 100px;
    animation: jumpAnimation 1s ease-in-out infinite;
}

.item2 p:hover{
    color: #000000;
}

.item3 .bienvenido{
    width: 850px;
    height: 200px;
    background-color: rgb(6, 105, 185);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: -160px;
    border-radius: 20px;
}

.Portada-container h2 {
    font-size: 50px;
    /* Ajusta el tamaño según tus necesidades */
    color: #000000;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #203399, 0 0 70px #3104fc, 0 0 80px #3104fc, 0 0 100px #3104fc, 0 0 150px #3104fc;
    /* Estilo de luces de neón */
    font-family: 'Oswald', sans-serif;
}

.Portada-container .item2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
}

.Portada-container .item3 {
    display: flex;
    justify-content:center;
    align-items: center;
}

@keyframes jumpAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 599px) {
    .Portada-container {
        height: 100vh;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    .item3 .bienvenido{
        width: 350px;
        height: 200px;
        font-size: 25px;
        margin-top: 0px;
        padding: 10px;
    }
    .Portada-container .item2 {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .item2 p{
        margin-bottom: 0px;
    }
}