.principal {
    height: 100vh;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.principal .introduccion {
    background-color: rgb(6, 105, 185);
    margin:auto;
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    padding: 10px;
    width: 700px;
    height: 150px;
    border-radius: 10px;
}

.proyectos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.proyectos img{
    width: 200px;
    margin: 0 30px;
    height: 200px;
    border-radius: 50px;
}

.principal .flechaAbajo{
    background-color: #007bff;
    color: white;
    font-size: 40px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    /* Posicionar el botón absolutamente */
    top: 13em;
    /* Ajustar la posición vertical */
    left: 95%;
    /* Ajustar la posición horizontal */
    transform: translateX(-50%);
    /* Centrar horizontalmente */
    transition: transform 0.10s ease;
}

.principal .flechaArriba{
    background-color: #007bff;
    color: white;
    font-size: 40px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    /* Posicionar el botón absolutamente */
    top: 2.5em;
    /* Ajustar la posición vertical */
    left: 95%;
    /* Ajustar la posición horizontal */
    transform: translateX(-50%);
    /* Centrar horizontalmente */
    transition: transform 0.10s ease;
}

.principal .flechaAbajo:hover{
    color: rgb(0, 0, 0);
}

.principal .flechaArriba:hover{
    color: rgb(0, 0, 0);
}

.principal a{
    text-decoration: none;
}